.services-container {
    padding: 50px;
    text-align: center;
}

.services-heading {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 30px;
}

.services-description {
    font-size: 18px;
    color: #777;
    margin-bottom: 40px;
    line-height: 1.5;
}

.service-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.service-image {
    width: 230px;
    height: auto;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

.service-details {
    flex: 1;
    padding: 30px;
    text-align: left;
}

.service-title {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.service-description {
    font-size: 16px;
    color: #555;
    margin-bottom: 30px;
    line-height: 1.5;
}

.service-button {
    padding: 12px 30px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.3s;
}

.service-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
